.aplication_form .aplication_form_title, .aplication_form .back_link {
    font-family: Inter, sans-serif;
    font-style: normal
}
button{
  border: unset;
  padding: 0;
  background: unset
}
.aplication_form {
    width: 100%;
    background-image: url(../images/bck.svg);
    background-position: 50%;
    padding-top: 25px;
    padding-bottom: 54px
}
input{
  appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  background: rgba(165, 170, 183, 0.1)!important
} */
input:-webkit-autofill {
-webkit-box-shadow: inset  0 1px 4px 0 transparent, /* Внутренняя тень */
                    inset 0 0 0 50px #1D242E, /* Цвет фона */
                    0 1px rgba(255, 255, 255, 0) !important; /* Наружная тень */
-webkit-text-fill-color: #fcdc8d !important;}
.aplication_form .aplication_form_wrapper {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto
}

.aplication_form .back_link {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -.022em;
    color: #e5d6a0;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 22px
}

.aplication_form .back_link svg {
    margin-right: 7px
}

.aplication_form .aplication_form_title {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    margin-bottom: 16px
}
.aplication_form_items_titles_wrapper{
  transition: all 0.5s;
  position: relative;
  left: 0
}
.hidetitle{
  display: none!important
}
.aplication_form .aplication_form_items_title, .aplication_form .mobile_aplication_form_items_title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer
}

.aplication_form .aplication_form_items_titles_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aplication_form_items_titles_second_wrapper{
    margin-bottom: 40px;
}

.aplication_form .aplication_form_items_title {
    color: #d2be8b;
    padding-bottom: 15px;
    margin-right: 45px;
    white-space: nowrap;
}


@media  (min-width: 1101px) and (max-width: 1920px){
    .aplication_form .aplication_form_items_title:hover {
    border-bottom: 2px solid #e5d6a0;
    color: #e5d6a0;
    padding-bottom: 13px;
}
}
.aplication_form .mobile_aplication_form_items_title {
    color: #d2be8b;
    margin-bottom: 20px;
    margin-left: 95px
}

.aplication_form .aplication_form_items_title.active {
    border-bottom: 2px solid #e5d6a0;
    color: #e5d6a0
}
.aplication_form_items_wrapper .swiper-slide{
  max-width: max-content;
  min-width: 97px;
}
.aplication_form .aplication_form_input, .aplication_form .aplication_form_input_title {
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: -.006em;
    color: #fcdc8d;
    font-size: 16px;
    font-style: normal;
    line-height: 24px
}

.aplication_form .aplication_form_item_first_child, .aplication_form .aplication_form_item_second_child {
  max-width: 820px;
width: 100%;
margin-left: 0;
}
.aplication_form_item{
  padding-bottom: 60px
}
.aplication_form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
   align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.aplication_form_inputs_field{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}
.select_svg{
  position: relative;
z-index: 5;
}
.sillkatext button{
  position: absolute;
  right: 5px;
  top: 4px;
  border: unset;
  cursor: pointer;
  min-width: 14px;
  max-width: 14px;
  height: 14px;
  padding: 0;
  background: unset;
}
.sillkatext button svg{
  width: 100%;
  height: 100%;
}
.error_input_wrapper{
  position: relative;
}
.error_input_wrapper .sillkainp{
  color: transparent
}
.sillkatext{
  max-width: 154px;
  width: 100%;
  display: none;
  overflow: hidden;
  position: absolute;
  left: 16px;
  top: 14px;
  height: 20px;
  background: #E5D6A0;
  border-radius: 10px;
  padding: 0 20px 0 6px;
}
.sillkatext span{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #0E161E;
  white-space: nowrap;
  max-width: 128px;
  overflow: hidden;
  display: block;
  margin-top: 3px;
}
.showmoreinput{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: unset;
  border: 1px solid #9B8E6C;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
  letter-spacing: -.006em;
  color: #fcdc8d;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  padding: 0 20px;
}
.form_inp1 {
    align-items: flex-start;
}
.form_inp {
    align-items: center;
}
.swipernext,.swiperprev{
  position: absolute;
  right: -44px;
  top: -7px;
  cursor: pointer;
}
.swiperprev{
  right: unset;
  left: -44px;
  display: none
}
.aplication_form_items_title{
  max-width: max-content;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s
}
/*.personal_area .personal_area_check_input.active .check_label:after {*/
/*    content: "";*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    background: #e5d6a0;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-pack: center;*/
/*    justify-content: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    transform: translate(35%, 34%);*/
/*}*/

.check_label{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.select_item_titlename{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #848993;

}
.adresbox{
  max-width: 398px;
  width: 100%;
  position: relative;
}
  .adresbox input{
    width: 100%;
    height: 49px;
    background: rgba(165, 170, 183, 0.1);
    border: 1px solid #9B8E6C;
    box-sizing: border-box;
    padding: 0 16px;
    padding-right: 52px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: -.006em;
    outline: none;
    color: #fcdc8d;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
  }
  .adresbox .firstsvg{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
    cursor: pointer;
  }
  .adresbox .adresbox_drop{
    position: absolute;
    width: 100%;
    left: 0;
    top: 49px;
    background: #1C242D;
    display: none;
    padding: 8px 0;
    z-index: 5;
    max-height: 224px;
    overflow: auto;
  }
  .adresbox .adresbox_drop::-webkit-scrollbar{
    width: 4px
  }
  .adresbox .adresbox_drop::-webkit-scrollbar-thumb{
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    width: 4px;
  }
    .adresbox .adresbox_drop_item{
      width: 100%;
    }
    .adresbox .adresbox_drop_item  .title{
      width: 100%;
      padding: 8px 16px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #848993
    }
    .adresbox .adresbox_drop_item  .btn{
      width: 100%;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Inter;
      cursor: pointer;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      transition: all 0.5s;
      color: #F0F0F0;
    }
    .adresbox .adresbox_drop_item  .btn path{
      transition: all 0.5s;
    }
    .adresbox .adresbox_drop_item  .btn:hover{
      color: #E5D6A0;
    }
    .adresbox .adresbox_drop_item  .btn:hover path{
      stroke: #E5D6A0
    }
.check_label input{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.check_label span{
  width: 16px;
  height: 16px;
  border: 1px solid #e5d6a0;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: 0px;
  cursor: pointer;
  margin-right: 8px
}
.check_label input:checked ~ span:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #e5d6a0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    transform: translate(35%, 34%);
}
.form_inp.active .check_label1:after{
    content: "";
    width: 8px;
    height: 8px;
    background: #e5d6a0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    transform: translate(35%, 34%);
}
.form_inp1.active .check_label:after{
    content: "";
    width: 8px;
    height: 8px;
    background: #e5d6a0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    transform: translate(35%, 34%);
}

span.check_text1{
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: -.006em;
    color: #9b8e6c;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;

}
.form_inp{
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: -.006em;
    color: #9b8e6c;
    font-size: 16px;
    font-style: normal;
    margin-left: 2px;
    line-height: 24px;
    justify-content: flex-end!important;
}
.form_inp1{
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: -.006em;
    color: #9b8e6c;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin-left: 2px;
    justify-content: flex-end!important;
}
.check_label1{
    width: 16px;
    cursor: pointer;
    height: 16px;
    border: 1px solid #e5d6a0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-right: 8px
}
/*.check_label {
    top: 1px!important;
    right: 4px;
}*/

.aplication_form .aplication_form_input_title {
    width: 50%;
    margin-right: 24px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 398px;
    width: 100%;
    margin-left: 389px;
}

.aplication_form .aplication_form_input {
    max-width: 398px;
    width: 100%;
    height: 48px;
    background: rgba(165, 170, 183, .1);
    border: 1px solid #9b8e6c;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    padding: 20px
}

.aplication_form .aplication_form_btn, .aplication_form .aplication_form_inputs_answer_btn, .aplication_form .aplication_form_save_btn {
    background: #d2be8b;
    cursor: pointer;
    max-width: 398px;
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    height: 50px;
    color: #1f2326;
    border: none
}

.aplication_form .aplication_form_btn_wrapper, .aplication_form .aplication_form_inputs_answer_btn_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: end
}

.aplication_form .write_us_input.file_label {
    border: 1px solid #d2be8b;
    box-sizing: border-box;
    max-width: 398px;
    padding: 12px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.aplication_form .file_span {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #d2be8b;
    margin-left: 78px
}

.aplication_form .aplication_form_textarea_field {
    background: rgba(165, 170, 183, .1);
    border: 1px solid #9b8e6c;
    box-sizing: border-box;
    width: 100%;
    max-width: 398px;
    height: 116px;
    resize: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.006em;
    color: #9b8e6c;
    cursor: pointer;
    outline: 0;
    padding: 20px
}

.aplication_form .aplication_form_input_answer_info, .aplication_form .aplication_form_input_answer_title {
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -.006em;
    width: 50%
}

.aplication_form .aplication_form_input_answer_title {
    font-weight: 400;
    font-size: 16px;
    text-align: end;
    color: #9b8e6c;
    margin-right: 24px
}

.aplication_form .aplication_form_inputs_answers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start
}

.aplication_form .aplication_form_inputs_answers:not(:last-child) {
    margin-bottom: 40px
}

.aplication_form .aplication_form_input_answer_info {
    font-weight: 700;
    font-size: 18px;
    color: #f0f0f0
}

.aplication_form .aplication_form_item_second_child {
    display: none;
}
.aplication_form_inputs_fieldtextarea {
  align-items: flex-start;
}
.aplication_form_inputs_fieldtextarea textarea{
  background: rgba(165, 170, 183, 0.1);
  border: 1px solid #9B8E6C;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 192px;
  outline: none;
  resize: none;
  max-width: 398px;
  background: rgba(165, 170, 183, .1);
  border: 1px solid #9b8e6c;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
  letter-spacing: -.006em;
  color: #fcdc8d;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  cursor: pointer;
  outline: 0;
  padding: 20px;
}
@media (max-width: 1270px) {
    .aplication_form_wrapper {
        width: 93% !important
    }
}

@media (max-width: 1196px) {
    .aplication_form_items_title {
        font-weight: 700;
        font-size: 16px !important
    }
}

/*@media (min-width: 769px) and (max-width: 1080px) {
    .aplication_form_items_title {
        width: 35%;
        margin-bottom: 20px
    }
}
*/
.tagify.tagify--focus{
  background: rgba(165, 170, 183, 0.1)!important;
border: 1px solid #9B8E6C!important;
}
.error_input_wrapper .tagify{
  height: auto!important;
  padding: 11px 11px;
      color: #fcdc8d!important;
}
.error_input_wrapper .tagify:hover {
  background: rgba(165, 170, 183, 0.1)!important;
border: 1px solid #9B8E6C!important;
}
.error_input_wrapper .tagify__input{
  padding: 0;
  margin: 0;
}
.error_input_wrapper .tagify__tag{
  margin: 5px;
  padding: 2px 6px;
  --tag-bg: #E5D6A0;
      --tag-inset-shadow-size: 0;
  background: #E5D6A0!important;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagify__tag__removeBtn{
  margin: 0!important
}
.error_input_wrapper .tagify__tag>div>*{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

color: #0E161E;

}
.error_input_wrapper .tagify__tag>div{
  padding: 0;

    display: flex;
}
@media (max-width: 900px) {
    .aplication_form_item_first_child, .aplication_form_item_second_child {
        margin: 0 auto !important;
        width: 96% !important
    }
}

.mobile_aplication_form_items_wrapper {
    display: none!important;
}



/*@media (min-width: 500px) {
    .aplication_form_item {
        display: none
    }
    .mobile_aplication_form_item{
        display: none
    }

    .aplication_form_item.open {
        display: block !important
    }
}*/
.aplication_form_items_titles_second_wrapper{
  position: relative;
}
.aplication_form_item{
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
}
.anketblock{
  display: flex;
}
@media (max-width: 768px) {
    /*.aplication_form_item {*/
    /*    display: block !important*/
    /*}*/

    .aplication_form_item:not(:last-child) {
        margin-bottom: 40px
    }
}

  .aplication_form_item {
        width: 0;
    }
    .aplication_form_item.open {
        width: 100%
    }
.aplication_form_item_first_child{
  min-width: max-content;
}


@media (min-width: 501px) and (max-width: 600px) {
    .aplication_form_title {
        font-size: 30px !important
    }
}


@media (max-width: 420px) {
    .file_span {
        color: #d2be8b;
        margin-left: 20px !important
    }


}
.form_select{
max-width: 398px;
width: 100%;
height: 48px;
background: rgba(165, 170, 183, .1);
border: 1px solid #9b8e6c;
box-sizing: border-box;
cursor: pointer;
outline: 0;
padding: 0 18px;
color: #9b8e6c;
font-size: inherit;
display: none;

}


@media  (min-width: 844px) and (max-width: 860px){
    .d-flex{
          margin-left: 340px!important;
    }
}


@media (min-width: 838px) and  (max-width: 843px){
    .d-flex{
          margin-left: 333px!important;
    }
}

@media  (min-width: 826px) and (max-width: 837px){
    .d-flex{
          margin-left: 325px!important;
    }
}

@media  (min-width: 821px) and (max-width: 825px){
    .d-flex{
          margin-left: 320px!important;
    }
}

@media  (min-width: 801px) and (max-width: 820px){
    .d-flex{
          margin-left: 310px!important;
    }
}

@media (min-width: 791px) and  (max-width: 800px){
    .d-flex{
          margin-left: 300px!important;
    }
}
@media (min-width: 781px) and  (max-width: 790px){
    .d-flex{
          margin-left: 290px!important;
    }
}


@media (min-width: 771px) and  (max-width: 780px){
    .d-flex{
          margin-left: 280px!important;
    }
}


@media (min-width: 761px) and  (max-width: 770px){
    .d-flex{
          margin-left: 270px!important;
    }
}

@media (min-width: 751px) and  (max-width: 760px){
    .d-flex{
          margin-left: 260px!important;
    }
}
@media (min-width: 741px) and  (max-width: 750px){
    .d-flex{
          margin-left: 250px!important;
    }
}
@media (min-width: 731px) and  (max-width: 740px){
    .d-flex{
          margin-left: 240px!important;
    }
}
@media (min-width: 721px) and  (max-width: 730px){
    .d-flex{
        margin: 0 auto;
        max-width: 500px;
        justify-content: flex-start;
    }
}
@media (min-width: 711px) and  (max-width: 720px){
    .d-flex{
          margin-left: 220px!important;
    }
}
@media (min-width: 701px) and  (max-width: 710px){
    .d-flex{
          margin-left: 210px!important;
    }
}


@media   (max-width: 700px){
    .d-flex{
          margin-left: unset!important;
    }
}
@media (max-width: 415px){
    .d-flex{
        flex-direction: column;
    }
}


.write_us_input {
    justify-content: unset!important;

}






@media (max-width: 1100px){
   .aplication_form_items_titles_second_wrapper{
      width: 100%;
      overflow: auto;
   }
   .aplication_form_items_titles_wrapper{
    width: 1000px;
    overflow: auto;
   }
}

/*
.aplication_form_items_titles_second_wrapper::-webkit-scrollbar {
    background: black;
    height: 2px;
}

.aplication_form_items_titles_second_wrapper::-webkit-scrollbar-track {
    background: white;
    height: 2px;
}

.aplication_form_items_titles_second_wrapper::-webkit-scrollbar-thumb {
}
*/

.aplication_form_input.active{
    background: rgba(165, 170, 183, 0.1);
    border: 1px solid #E5D6A0;
}

.aplication_form_input.active_blur{
   background: rgba(165, 170, 183, 0.1);
 border: 1px solid #9B8E6C;
}


.error_input_wrapper {
    /* width: 63%; */
    max-width: 398px;
    width: 100%;
}

.error_text1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #F76659!important;
    margin-top: 4px;
    margin-bottom: unset!important;
    display: none;
}

.select_wrapper {
    max-width: 398px;
    width: 100%;
    position: relative;
}

.select_title_svg_wrapper {
    background: rgba(165, 170, 183, 0.1);
    border: 1px solid #9B8E6C;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
    height: 48px;
}

p.select_title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E5D6A0;
}

.select_items_wrapper {

    background: #1c242d;
    /* position: absolute; */
    z-index: 99999999999999999;
    padding: 14px 16px;
    max-width: 398px;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 99999999;
}

.select_wrapper.open .select_items_wrapper{
    display: block!important;
}
.select_wrapper.open .select_svg svg{
    transform: rotate(-180deg);
}
.select_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.select_item:hover .select_item_title{
   color: #E5D6A0;

}

.select_item.active .select_item_title  {
      color: #E5D6A0;
}
.select_item.active .select_item_svg svg path {
     stroke: #E5D6A0;
}


.select_item:hover .select_item_svg svg path{
   stroke: #E5D6A0;

}



.select_item:not(:last-child) {
    margin-bottom: 16px;
}

p.select_item_title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F0F0F0;
}

@media (max-width: 800px){
  .aplication_form_inputs_answers{
    flex-direction: column;
  }
  .aplication_form_input_answer_title{
    width: unset!important;
    margin-right: unset!important;
    text-align: unset!important;
    margin-bottom:5px;
  }
  .aplication_form_input_answer_info{
       width: unset!important;
       word-break: break-all;
  }
  .aplication_form_inputs_answer_btn_wrapper{
    justify-content: unset!important;
    align-items: unset!important;
    text-align: unset!important;
  }
}

  .aplication_form_input_answer_info{
       word-break: break-all;
  }


/*@media (min-width: 700px) and  {*/

/*}*/




.aplication_form_hint_wrapper {
    display: flex;
    position: relative;
    min-width: 32px;
    justify-content: center;
    align-items: center;
}

.aplication_form_hint_box_wrapper {
    background: #474C53;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    display: none;
    top: 4px;
    left: 40px;
    min-width: 250px;
}

.aplication_form_hint_svg {
    cursor: pointer;
}

.aplication_form_inputs_hint_wrapper {
    position: relative;
}

.aplication_form_hint_box_wrapper::after{
    content: "";
    position: absolute;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    bottom: auto;
    background: #474C53;
    height: 0;
    transform: rotate(138deg);
    left: -4px;
    top: 13px;

}

.aplication_form_hint_text {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #F0F0F0;
}

.aplication_form_hint_wrapper:hover .aplication_form_hint_svg svg path
{
   stroke: #0D151E;
}
.hideninpandshow{
  display: none
}
.aplication_form_hint_wrapper:hover .aplication_form_hint_svg svg
{
   fill: #E5D6A0;
}
.aplication_form_hint_wrapper:hover .aplication_form_hint_box_wrapper{
    display: block!important;
}
.aplication_form .aplication_form_btn_wrapper, .aplication_form .aplication_form_inputs_answer_btn_wrapper {
    max-width: 789px;
}
.aplication_form_hint_text span{
  color: #E5D6A0;
}
@media(max-width: 1220px){
  .aplication_form .aplication_form_btn_wrapper, .aplication_form .aplication_form_inputs_answer_btn_wrapper {
      max-width: 668px;
  }
}
@media (max-width: 958px) {
  .aplication_form_inputs_field, .aplication_form_inputs_hint_wrapper {
    position: relative;
    max-width: 500px;
    width: 100%;
    justify-content: flex-start;
    margin: 0 auto 15px;
}
    .aplication_form_inputs_field {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
  .aplication_form_inputs_field,.aplication_form_inputs_hint_wrapper {
    position: relative;
    max-width: 500px;
    margin: 0 auto 15px;
  }
  .aplication_form .aplication_form_btn, .aplication_form .aplication_form_inputs_answer_btn, .aplication_form .aplication_form_save_btn{
    max-width: 504px
  }
  .galerycont {
    max-width: 530px!important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}
  .aplication_form_hint_wrapper {
      display: flex;
  }
  .error_input_wrapper {
      max-width: unset;
      width: 100%;
      padding-right: 24px;
  }
  .select_wrapper {
      max-width: unset;
      width: 92%;
      position: relative;
      padding-right: 0px;
  }
  .error_input_wrapper {
      /* width: 63%; */
      max-width: unset!important;
      width: 92%;
      padding-right: 0!important
  }
  .adresbox{
    max-width: unset;
    padding-right: 0;
    width: 92%;
  }
  .adresbox .firstsvg {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
      cursor: pointer;
  }
  .aplication_form .write_us_input.file_label{
    max-width: 484px;
    padding: 12px;
    width: 92%;
    margin-right: 0px;
  }
    .aplication_form_input_title {
        margin-right: unset !important;
        text-align: start !important;
        margin-bottom: 10px;
        display: block!important;
        width: 100%!important;
    }

    .mobile_aplication_form_items_title {
        margin-left: 18px !important;
        text-align: left !important
    }
    .aplication_form .aplication_form_input {
        max-width: unset
    }
    .aplication_form .aplication_form_btn_wrapper, .aplication_form .aplication_form_inputs_answer_btn_wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: center;
      -ms-flex-align: end;
      align-items: flex-end;
      text-align: end;
  }

}
@media (min-width: 853px) and (max-width:  1080px){
    .aplication_form_hint_box_wrapper {
        top: -73px!important;
        left: unset;
        right: -47px;
    }
    .aplication_form_hint_box_wrapper::after {
        left: 182px!important;
        top: 66px!important;
    }
    .aplication_form_hint_svg{
        margin-right: unset!important;
    }
}


@media (min-width: 701px) and  (max-width:  852px){

    .aplication_form_hint_box_wrapper {
      top: unset;
      position: absolute;
      bottom: 50px;
      left: unset;
      right: -60px;
    }
    .aplication_form_hint_box_wrapper::after {
      left: unset;
      top: unset!important;
      bottom: -5px;
      right: 76px;
    }
    .aplication_form_hint_svg{
         position: relative;
        right: 4px;
         margin-right: unset!important;
    }
     .aplication_form_hint_text{
        width: unset!important;
    }

}
@media(max-width: 1220px){
  .aplication_form .aplication_form_item_first_child, .aplication_form .aplication_form_item_second_child{
    max-width: 700px
  }
}
@media (min-width: 471px) and  (max-width: 700px){

     .aplication_form_hint_wrapper {
            position: absolute;
            right: 16px!important;
            width: 0;
            top: 14px!important;
            display: flex;
    }
    .adresbox {
      max-width: unset;
      padding-right: 0;
      width: 90%;
    }
    #open_form7 .aplication_form_hint_wrapper{
      right: 250px!important;
      top: -27px!important;
    }

    .aplication_form_hint_box_wrapper {
      top: unset;
      right: -61px;
      bottom: 0;
      left: unset!important;
    }

    .aplication_form_hint_box_wrapper::after {
      left: unset!important;
      right: 72px;
      top: 66px!important;
    }
    .error_input_wrapper {
        /* width: 63%; */
        max-width: unset!important;
        width: 90%;
        padding-right: 0!important
    }
    .aplication_form .write_us_input.file_label,.error_input_wrapper,.select_wrapper{
      width: 90%!important
    }
    .error_input_wrapper{
        max-width: unset!important;
    }
    .select_wrapper{
         max-width: unset!important;
    }
    .aplication_form_input{
        max-width: unset!important;
    }
    .aplication_form_hint_svg {
        margin-right: unset!important;
        cursor: pointer;
    }
    .aplication_form_hint_svg{
         margin-right: unset!important;
         position: relative;
         top: 34px
    }


}
.aplication_form_input::placeholder{
  color: #9B8E6C;
}
@media(max-width: 530px){
  .aplication_form_item_first_child {
      min-width: unset;
  }
}
@media (min-width: 371px) and  (max-width: 470px){
    .adresbox {
      max-width: unset;
      padding-right: 0;
      width: 90%;
    }
    #open_form7 .aplication_form_hint_wrapper{
      right: 250px!important;
      top: -27px!important;
    }
    .aplication_form_hint_svg{
      top: unset!important
    }
    .aplication_form .write_us_input.file_label,.error_input_wrapper,.select_wrapper{
      width: 90%!important
    }
    .aplication_form_hint_box_wrapper {
      top: unset;
      right: 0px;
      bottom: 0;
      left: unset!important;
    }

    .aplication_form_hint_box_wrapper::after {
        left: unset!important;
        right: 13px;
        top: 66px!important;
    }

    .error_input_wrapper{
        max-width: unset!important;
    }
    .select_wrapper{
         max-width: unset!important;
    }
    .aplication_form_input{
        max-width: unset!important;
    }
    .aplication_form_hint_svg {
        margin-right: unset!important;
        cursor: pointer;
    }
    .aplication_form_hint_svg{
         margin-right: unset!important;
         position: relative;
         top: 34px
    }


}

@media   (max-width: 370px){
  .aplication_form .write_us_input.file_label,.error_input_wrapper,.select_wrapper{
    width: 90%!important
  }
  .adresbox {
    max-width: unset;
    padding-right: 0;
    width: 90%;
  }
  .error_input_wrapper {
      /* width: 63%; */
      max-width: unset!important;
      width: 90%;
      padding-right: 0!important;
  }
    .aplication_form_hint_box_wrapper {
      top: unset;
      right: 0px;
      bottom: 50px;
      left: unset!important;
    }

    .aplication_form_hint_box_wrapper::after {
        left: unset!important;
        right: 13px;
        top: 66px!important;
    }.aplication_form .write_us_input.file_label {
    max-width: 484px;
    padding: 12px;
    width: 90%;
    margin-right: 0px;
}.select_wrapper {
    max-width: unset;
    width: 90%;
    position: relative;
    padding-right: 0px;
}

    .error_input_wrapper{
        max-width: unset!important;
    }
    .select_wrapper{
         max-width: unset!important;
    }
    .aplication_form_input{
        max-width: unset!important;
    }
    .aplication_form_hint_svg {
        margin-right: unset!important;
        cursor: pointer;
    }
    .aplication_form_hint_svg{
         margin-right: unset!important;
         position: relative;
    }


}
.aplication_form_hint_wrapper:hover .aplication_form_hint_box_wrapper {
    display: block!important;
    z-index: 66;
}
.aplication_form .aplication_form_items_titles_wrapper,.aplication_form_items_titles_second_wrapper{
  overflow: unset!important
}
.delete{
  display: block;
}

.aplication_form_title_second {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
@media(max-width: 1220px){
  .inputcheck {
    margin-left: 269px!important;
  }
}
@media(max-width: 959px){
  .inputcheck {
    margin-left: 63px!important;

  }
  .inputcheck .aplication_form_inputs_field {
    position: relative;
    justify-content: flex-start!important;
  }
}
@media(max-width: 600px){
  .inputcheck {
    margin-left: 0px!important;
  }
}
@media (max-width: 425px){
     .aplication_form_title{
           font-size: 24px!important;
           margin-bottom: 8px!important;
     }
     .aplication_form_title_second{
         font-size: 18px!important;
     }
}
