.personal_area,
.personal_area .personal_area_image_link_wrapper,
.personal_area .personal_area_img2,
.personal_area .select_wrapper {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer_social_link a svg path:hover {
    fill: #d2be8b;
}
.photo_view{
    max-width: 822px;
    width: 100%;
    padding: 2px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: -50px;
    margin-bottom: 46px;
}
.photo_view img{
    width: 138px;
    height: 138px;
    object-fit: cover;
    margin-bottom: 12px;
    border: 2px solid #e5d6a0;

}
.cl_span{
    position: absolute;
    right: 0px;
    cursor: pointer;
    top: 0px;
    opacity: 0;
    transition: 0.5s;
    color: #0d151e;
    padding: 2px 5px;
    background: #9B8E6C;
}
.delete:hover .cl_span{
  opacity: 1
}
.delete {
    position: relative;
    margin-right: 5px;
}
.delete:last-child{
  margin-right: 0
}
/*.photo_view div img{*/
/*   margin: 10px;*/

/*}*/
.active_body {
    overflow: hidden;
}
.personal_area {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/log_in_back.png);
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 178px;
}
.personal_area .personal_area_wrapper {
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
}
.personal_area .personal_area_img2 {
    width: 232px;
    left: 30px;
}
.personal_area .personal_are_title {
    margin-bottom: 55px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.022em;
    color: #dadada;
    text-align: left;
}
.personal_area .area_form_input,
.personal_area .personal_area_form_textarea textarea {
    background: rgba(165, 170, 183, 0.1);
    margin-bottom: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    -moz-box-sizing: border-box;
    border: 1px solid #9b8e6c;
    padding: 12px 16px;
    width: 100%;
    font-weight: 400;
}
.personal_area .area_form_input {
    max-width: 398px;
    height: 48px;
    box-sizing: border-box;
    color: #9b8e6c;
}
.personal_area .area_form_input::-webkit-input-placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .area_form_input:-moz-placeholder,
.personal_area .area_form_input::-moz-placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .area_form_input:-ms-input-placeholder,
.personal_area .area_form_input::-ms-input-placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .area_form_input::placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .personal_area_form_item {
    width: 100%;
}
.personal_area .personal_area_form_inputs_wrapper_second {
    max-width: 822px;
    width: 100%;
}
/*.personal_area .personal_area_check_input.active .check_label:after {*/
/*    content: "";*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    background: #e5d6a0;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-pack: center;*/
/*    justify-content: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    transform: translate(35%, 34%);*/
/*}*/
.personal_area .personal_area_form_textarea textarea {
    max-width: 399px;
    height: 192px;
    box-sizing: border-box;
    color: #9b8e6c;
    cursor: pointer;
    outline: 0;
}
.personal_area .persoanl_area_link,
.personal_area .personal_area_list_btn {
    font-weight: 600;
    line-height: 18px;
    padding: 15px 10px;
    font-family: Inter, sans-serif;
    font-style: normal;
    cursor: pointer;
}
.personal_area .personal_area_list_wrapper {
    display: -ms-flexbox;
    display: flex;
    max-width: 1222px;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .persoanl_area_link {
    font-size: 14px;
    color: #9b8e6c;
    text-decoration: none;
}
.personal_area .persoanl_area_link:hover {
    background: #1f262e;
    color: #e5d6a0;
}
.personal_area .personal_area_list {
    list-style: none;
}
.personal_area .personal_area_list_btn {
    font-size: 14px;
    color: #9b8e6c;
    outline: 0;
    background: 0 0;
    border: none;
}
.personal_area .personal_area_list_btn:hover {
    background: #1f262e;
    color: #e5d6a0;
}
.personal_area .personal_area_main_nav {
    margin-bottom: 41px;
}
.personal_area .persoanl_area_image_info_btns_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.personal_area .personal_area_images_wrapper {
    margin-bottom: 24px;
}
.personal_area .write_us_form_inputs_field {
    width: 292px;
    border: 1px solid #e5d6a0;
    box-sizing: border-box;
    padding: 16px;
}
.personal_area .mobile_personal_area_change_password_status_links_wrapper,
.personal_area .personal_area_mobile_nav_wrapper {
    display: none;
}
.personal_area .write_us_input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .write_us_input svg {
    margin-right: 47px;
}
.personal_area .file_span {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #eee;
    text-align: center;
}
.personal_area .check_text,
.personal_area .form_select {
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
}
.personal_area .first_item_area {
    margin-right: 24px;
}
.personal_area .form_select {
    max-width: 398px;
    width: 100%;
    height: 48px;
    background: rgba(165, 170, 183, 0.1);
    border: 1px solid #9b8e6c;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 12px 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9b8e6c;
    -webkit-appearance: none;
}
.personal_area .select_svg {
    position: absolute;
    top: 20px;
    right: 20px;
}
.personal_area .personal_area_file_input_second {
    border: 1px solid #d2be8b;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 16px;
}
.personal_area .second_area_input {
    display: -ms-flexbox;
    display: flex;
}
.personal_area .personal_area_form_input_type_file {
    border: 1px solid #d2be8b;
    box-sizing: border-box;
    max-width: 283px;
    width: 100%;
    padding: 12px 12px 16px;
    height: 48px;
    margin-bottom: 25px;
}
.personal_area .check_label {
    width: 16px;
    height: 16px;
    border: 1px solid #e5d6a0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
/*.personal_area .personal_area_check_input.active .check_label:after {*/
/*    content: "";*/
/*    background-image: url(../images/label.svg);*/
/*    background-repeat: no-repeat;*/
/*    width: 10px;*/
/*    height: 14px;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-pack: center;*/
/*    justify-content: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    left: 48%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -34%) scale(1);*/
/*    opacity: 1;*/
/*}*/
.personal_area .personal_area_check_input.active .check_label {
    background: #e5d6a0;
}
.personal_area .check_text {
    font-weight: 400;
    line-height: 19px;
    color: #dadada;
}
.personal_area .file_span_second,
.personal_area .personal_area_check_input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .file_span_second {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #d2be8b;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.personal_area .write_us_input_second.file_label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .write_us_input_second.file_label svg {
    margin-right: 30px;
}
.personal_area .personal_area_form_btns_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.personal_area .personal_area_form_btn {
    height: 56px;
    border: 2px solid #e5d6a0;
    width: 186px;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    outline: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #e5d6a0;
}
.personal_area .personal_area_form_btn:hover {
    background: #e5d6a0;
    color: #1f262e;
}
.personal_area .first_area_btn {
    margin-right: 25px;
}
.personal_area .personal_area_image_link_wrapper {
    margin-right: 157px;
}
@media (min-width: 557px) and (max-width: 2000px) {
    .personal_area_img1 {
        position: absolute;
        top: -18px;
        left: -13px;
    }
}
@media (min-width: 1021px) and (max-width: 1525px) {
    .personal_area_name_info_wrapper {
        margin-right: 35px !important;
    }
}
@media (max-width: 1285px) {
    .mobile_persoanl_area_link,
    .mobile_personal_area_list_btn {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
    }
    .personal_area_wrapper {
        width: 93% !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        width: unset !important;
    }
    .persoanl_area_link {
        padding: 15px 5px !important;
    }
    .personal_area_mobile_nav_wrapper {
        display: block !important;
    }
    .personal_area_main_nav {
        display: none !important;
    }
    .personal_title_nav_wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .mobile_personal_area_box {
        width: 48px;
        height: 32px;
        background: #1f262e;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
    .mobile_personal_area_box:hover {
        border: 1px solid #e5d6a0;
    }
    .personal_mobile_nav_list_wrapper {
        position: fixed;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        top: 73px;
        left: 0;
        background: #0d151e;
        text-align: center;
        box-sizing: border-box;
        height: 100vh;
        z-index: 1;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        overflow-y: scroll;
        display: none;
        padding: 40px 40px 119px;
    }
    .personal_area_list_wrapper {
        max-width: unset !important;
        width: unset !important;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_list {
        padding-bottom: 19px;
    }
    .perosnal_line {
        margin-bottom: 19px;
        max-width: 687px;
        width: 100%;
        height: 0;
        border: 1px solid #1c2733;
    }
    .mobile_persoanl_area_link {
        font-family: Inter, sans-serif;
        line-height: 18px;
        color: #dadada;
    }
    .mobile_persoanl_area_link:hover {
        color: #e5d6a0;
    }
    .mobile_personal_area_list_btn {
        font-family: Inter, sans-serif;
        line-height: 18px;
        color: #dadada;
        outline: 0;
        border: none;
        background: 0 0;
    }
    .mobile_personal_area_list_btn:hover {
        color: #e5d6a0;
    }
}
@media (min-width: 1198px) and (max-width: 1267px) {
    .first_personal_link {
        margin-right: 12px !important;
    }
    .personal_area_password_status_link {
        width: 165px !important;
    }
}
@media (min-width: 1021px) and (max-width: 1197px) {
    .first_personal_link {
        margin-right: unset !important;
        margin-bottom: 5px;
    }
    .personal_area_change_password_status_links_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media (min-width: 1021px) and (max-width: 1030px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: 20px !important;
    }
}
@media (min-width: 1031px) and (max-width: 1285px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: 40px !important;
    }
}
@media (min-width: 821px) and (max-width: 1020px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 35px !important;
    }
    .personal_area_password_status_link {
        width: 213px !important;
    }
    .personal_area_img_link {
        width: 254px !important;
        padding: 19px 0 !important;
    }
}
@media (min-width: 756px) and (max-width: 820px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 30px !important;
    }
    .personal_area_password_status_link {
        width: 213px !important;
    }
    .personal_area_img_link {
        width: 213px !important;
        padding: 19px 0 !important;
    }
    .personal_area_img1 img {
        width: 38px !important;
    }
}
@media (min-width: 687px) and (max-width: 755px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 30px !important;
    }
    .personal_area_password_status_link {
        width: 180px !important;
    }
    .personal_area_img_link {
        width: 213px !important;
        padding: 19px 0 !important;
    }
    .personal_area_img1 img {
        width: 38px !important;
    }
    .personal_area_img3 {
        position: relative;
        left: 66%;
        bottom: 17px;
        width: 38px;
    }
}
@media (max-width: 686px) {
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
    }
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 50px !important;
    }
    .personal_area_password_status_link {
        width: 180px !important;
    }
    .personal_area_img_link {
        width: 213px !important;
        padding: 19px 0 !important;
    }
    .personal_area_img1 img {
        width: 38px !important;
    }
    .personal_area_img3 {
        display: block !important;
        position: relative;
        left: 66%;
        bottom: 17px;
        width: 38px;
    }
    .personal_area_images_wrapper {
        margin-bottom: 5px !important;
    }
    .first_personal_link {
        margin-right: unset !important;
        margin-bottom: 15px;
    }
}
@media (min-width: 501px) and (max-width: 730px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 32px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 30px !important;
    }
}
@media (min-width: 426px) and (max-width: 500px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 28px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 26px !important;
    }
}
@media (min-width: 361px) and (max-width: 425px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 26px !important;
        margin-bottom: 24px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 24px !important;
        margin-bottom: 24px !important;
    }
}
@media (min-width: 454px) and (max-width: 686px) {
    .personal_area_img1 {
        position: relative;
        left: 22%;
        top: 19px;
    }
    .personal_area_img3 {
        left: 74% !important;
        bottom: 17px !important;
    }
}
@media (min-width: 394px) and (max-width: 453px) {
    .personal_area_img1 {
        position: relative;
        left: 13% !important;
        top: 20px;
    }
    .personal_area_img3 {
        left: 80% !important;
        bottom: 17px !important;
    }
}
@media (min-width: 361px) and (max-width: 393px) {
    .personal_area_img1 {
        position: relative;
        left: 8% !important;
        top: 20px;
    }
    .personal_area_img3 {
        left: 83% !important;
        bottom: 17px !important;
    }
}
@media (max-width: 360px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 24px !important;
        margin-bottom: 24px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 20px !important;
        margin-bottom: 24px !important;
    }
    .personal_area_img1 {
        position: relative;
        left: 19% !important;
        top: 13px !important;
    }
    .personal_area_img1 img,
    .personal_area_img3 img {
        width: 24px !important;
    }
    .personal_area_img3 {
        left: 74% !important;
        bottom: 11px !important;
    }
}
@media (max-width: 700px) {
    .persoanl_area_image_info_btns_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .write_us_input {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .personal_area_image_link_wrapper {
        margin-right: unset !important;
        width: 100%;
    }
    .personal_area_img2 {
        position: unset !important;
        margin: 0 auto;
    }
    .personal_area_form_btns_wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: center !important;
    }
    .personal_area_img_link {
        width: 100% !important;
        margin-bottom: 24px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        -ms-flex-direction: unset !important;
        flex-direction: unset !important;
    }
    .first_personal_link {
        margin-bottom: unset !important;
        margin-right: 20px !important;
    }
}
@media (min-width: 351px) and (max-width: 425px) {
    .personal_area_password_status_link {
        width: 148px !important;
        font-size: 14px !important;
    }
    .first_personal_link {
        margin-right: 12px !important;
    }
}
@media (max-width: 350px) {
    .mobile_personal_area_change_password_status_links_wrapper {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .first_personal_link {
        margin-right: unset !important;
        margin-bottom: 10px !important;
    }
    .personal_area_password_status_link {
        width: 100% !important;
        font-size: 14px !important;
    }
}
.second_box {
    background: #0d151e;
    border: 1px solid #e5d6a0;
}
@media (min-width: 426px) and (max-width: 768px) {
    .personal_area {
        min-height: unset !important;
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/log_in_second_img.png) !important;
    }
}
@media (max-width: 425px) {
    .personal_mobile_nav_list_wrapper {
        padding: 24px 24px 100px !important;
    }
    .personal_area_form_items_wrapper {
        margin-bottom: 40px !important;
    }
    .write_us_form_inputs_field {
        width: 220px !important;
    }
    .first_area_btn {
        margin-right: 16px !important;
    }
    .personal_area {
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/mobile_confirm.png) !important;
        min-height: unset !important;
    }
}
@media (min-width: 901px) and (max-width: 1250px) {
    .personal_area_image_link_wrapper {
        margin-right: 30px !important;
    }
}
@media (min-width: 901px) and (max-width: 2000px) {
    .special_input {
        max-width: 333px !important;
        -ms-flex: 1;
        flex: 1;
    }
}
@media (min-width: 687px) and (max-width: 900px) {
    .persons_area_input,
    .special_input {
        max-width: unset !important;
    }
    .personal_area_form_inputs_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_form_input_type_file,
    .personal_area_form_inputs_wrapper,
    .personal_area_form_wrapper {
        width: 100% !important;
    }
    .write_us_form_inputs_field {
        margin: 0 auto;
    }
    .write_us_input svg {
        margin-right: 20px !important;
    }
}
@media (max-width: 686px) {
    .persons_area_input,
    .special_input {
        max-width: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .personal_area_form_inputs_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_form_input:not(:last-child) {
        width: 100% !important;
        margin-right: unset !important;
    }
    .personal_area_form_input_type_file,
    .personal_area_form_inputs_wrapper,
    .personal_area_form_wrapper {
        width: 100% !important;
    }
    .write_us_form_inputs_field {
        margin: 0 auto;
    }
    .write_us_input svg {
        margin-right: 20px !important;
    }
    .persoanl_area_image_info_btns_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media (max-width: 900px) {
    .personal_area_img2 {
        position: unset !important;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .personal_area {
        min-height: unset !important;
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/log_in_second_img.png) !important;
        padding-bottom: 80px !important;
    }
}
@media (max-width: 425px) {
    .personal_area {
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/mobile_confirm.png) !important;
        min-height: unset !important;
        padding-bottom: 80px !important;
        padding-top: 40px !important;
    }
    .write_us_form_inputs_field {
        margin: 0 auto;
    }
    .personal_area_form_inputs_wrapper {
        margin-bottom: 21px !important;
    }
    .personal_area_images_wrapper {
        margin-bottom: 24px !important;
    }
}
@media (min-width: 426px) and (max-width: 686px) {
    .personal_area_form_inputs_wrapper {
        margin-bottom: 40px !important;
    }
    .personal_area_img2,
    .personal_area_img2 img {
        width: 250px !important;
    }
    .personal_area_images_wrapper {
        margin-bottom: 10px !important;
    }
}
@media (min-width: 361px) and (max-width: 425px) {
    .personal_area_img2,
    .personal_area_img2 img {
        width: 200px !important;
    }
}
@media (max-width: 360px) {
    .personal_area_img2,
    .personal_area_img2 img {
        width: 150px !important;
    }
}
.personal_area_form_items_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 94px;
}
.personal_area_img3 {
    position: relative;
    left: 87%;
    bottom: 17px;
    width: 38px;
}
.hidden_div_second {
    display: none;
}
@media (max-width: 1000px) {
    .personal_area_form_items_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .first_item_area {
        margin-right: unset !important;
    }
    /*.area_form_input,*/
    /*.form_select {*/
    /*    max-width: unset !important;*/
    /*}*/
    .personal_area_form_input_type_file {
        max-width: 390px !important;
        width: 100%;
    }
    .hidden_div_second {
        display: block !important;
    }
    .mobile_area_div {
        display: none !important;
    }
    .personal_area_form_textarea textarea {
        max-width: unset !important;
    }
}
#textarea_second {
    max-width: 399px;
    height: 120px;
}
.personal_area,
.personal_area .personal_area_image_link_wrapper,
.personal_area .personal_area_img2,
.personal_area .select_wrapper {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer_social_link a svg path:hover {
    fill: #d2be8b;
}
.active_body {
    overflow: hidden;
}
.personal_area {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/log_in_back.png);
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 178px;
}
.personal_area .personal_area_wrapper {
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
}
.personal_area .personal_area_img2 {
    width: 232px;
    left: 30px;
}
.personal_area .personal_are_title {
    margin-bottom: 55px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #dadada;
    text-align: left;
}
.personal_area .area_form_input,
.personal_area .personal_area_form_textarea textarea {
    background: rgba(165, 170, 183, 0.1);
    margin-bottom: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    -moz-box-sizing: border-box;
    border: 1px solid #9b8e6c;
    padding: 12px 16px;
    width: 100%;
    font-weight: 400;
}
.personal_area .area_form_input {
    max-width: 398px;
    height: 48px;
    box-sizing: border-box;
    color: #9b8e6c;
}
.personal_area .area_form_input::-webkit-input-placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .area_form_input:-moz-placeholder,
.personal_area .area_form_input::-moz-placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .area_form_input:-ms-input-placeholder,
.personal_area .area_form_input::-ms-input-placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .area_form_input::placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b8e6c;
}
.personal_area .personal_area_form_item {
    width: 100%;
}
.personal_area .personal_area_form_inputs_wrapper_second {
    max-width: 822px;
    width: 100%;
}
.personal_area .personal_area_form_textarea textarea {
    max-width: 399px;
    height: 192px;
    box-sizing: border-box;
    color: #9b8e6c;
    cursor: pointer;
    outline: 0;
}
.personal_area .persoanl_area_link,
.personal_area .personal_area_list_btn {
    font-weight: 600;
    line-height: 18px;
    padding: 15px 10px;
    font-family: Inter, sans-serif;
    font-style: normal;
    cursor: pointer;
}
.personal_area .personal_area_list_wrapper {
    display: -ms-flexbox;
    display: flex;
    max-width: 1222px;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .persoanl_area_link {
    font-size: 14px;
    color: #9b8e6c;
    text-decoration: none;
}
.personal_area .persoanl_area_link:hover {
    background: #1f262e;
    color: #e5d6a0;
}
.personal_area .personal_area_list {
    list-style: none;
}
.personal_area .personal_area_list_btn {
    font-size: 14px;
    color: #9b8e6c;
    outline: 0;
    background: 0 0;
    border: none;
}
.personal_area .personal_area_list_btn:hover {
    background: #1f262e;
    color: #e5d6a0;
}
.personal_area .personal_area_main_nav {
    margin-bottom: 41px;
}
.personal_area .persoanl_area_image_info_btns_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.personal_area .personal_area_images_wrapper {
    margin-bottom: 24px;
}
.personal_area .write_us_form_inputs_field {
    width: 292px;
    border: 1px solid #e5d6a0;
    box-sizing: border-box;
    padding: 16px;
}
.personal_area .mobile_personal_area_change_password_status_links_wrapper,
.personal_area .personal_area_mobile_nav_wrapper {
    display: none;
}
.personal_area .write_us_input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .write_us_input svg {
    margin-right: 47px;
}
.personal_area .file_span {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #eee;
    text-align: center;
}
.personal_area .check_text,
.personal_area .form_select {
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
}
.personal_area .first_item_area {
    margin-right: 24px;
}
.personal_area .form_select {
    max-width: 398px;
    width: 100%;
    height: 48px;
    background: rgba(165, 170, 183, 0.1);
    border: 1px solid #9b8e6c;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 12px 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9b8e6c;
    -webkit-appearance: none;
}
.personal_area .select_svg {
    position: absolute;
    top: 20px;
    right: 20px;
}
.personal_area .personal_area_file_input_second {
    border: 1px solid #d2be8b;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 16px;
}
.personal_area .second_area_input {
    display: -ms-flexbox;
    display: flex;
}
.personal_area .personal_area_form_input_type_file {
    border: 1px solid #d2be8b;
    box-sizing: border-box;
    max-width: 283px;
    width: 100%;
    padding: 12px 12px 16px;
    height: 48px;
    margin-bottom: 25px;
}
/*.personal_area .check_label {*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    background: rgba(165, 170, 183, 0.1);*/
/*    border: 1px solid #9b8e6c;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*    !*transition: all 0.5s;*!*/
/*    margin-right: 10px;*/
/*}*/
.personal_area .personal_area_check_input.active .check_label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #e5d6a0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    transform: translate(35%, 34%);
}
.personal_area .personal_area_check_input.active .check_label {
    background: #0c141d;
}
.personal_area .check_text {
    font-weight: 400;
    line-height: 19px;
    color: #dadada;
}
.personal_area .file_span_second,
.personal_area .personal_area_check_input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .file_span_second {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #d2be8b;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.personal_area .write_us_input_second.file_label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.personal_area .write_us_input_second.file_label svg {
    margin-right: 30px;
}
.personal_area .personal_area_form_btns_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.personal_area .personal_area_form_btn {
    height: 56px;
    border: 2px solid #e5d6a0;
    width: 186px;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    outline: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #e5d6a0;
}
.personal_area .personal_area_form_btn:hover {
    background: #e5d6a0;
    color: #1f262e;
}
.personal_area .first_area_btn {
    margin-right: 25px;
}
.personal_area .personal_area_image_link_wrapper {
    margin-right: 157px;
}
@media (min-width: 557px) and (max-width: 2000px) {
    .personal_area_img1 {
        position: absolute;
        top: -18px;
        left: -13px;
    }
}
@media (min-width: 1021px) and (max-width: 1525px) {
    .personal_area_name_info_wrapper {
        margin-right: 35px !important;
    }
}
@media (max-width: 1285px) {
    .mobile_persoanl_area_link,
    .mobile_personal_area_list_btn {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
    }
    .personal_area_wrapper {
        width: 93% !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        width: unset !important;
    }
    .persoanl_area_link {
        padding: 15px 5px !important;
    }
    .personal_area_mobile_nav_wrapper {
        display: block !important;
    }
    .personal_area_main_nav {
        display: none !important;
    }
    .personal_title_nav_wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .mobile_personal_area_box {
        width: 48px;
        height: 32px;
        background: #1f262e;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
    .mobile_personal_area_box:hover {
        border: 1px solid #e5d6a0;
    }
    .personal_mobile_nav_list_wrapper {
        position: fixed;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        top: 73px;
        left: 0;
        background: #0d151e;
        text-align: center;
        box-sizing: border-box;
        height: 100vh;
        z-index: 1;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        overflow-y: scroll;
        display: none;
        padding: 40px 40px 119px;
    }
    .personal_area_list_wrapper {
        max-width: unset !important;
        width: unset !important;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_list {
        padding-bottom: 19px;
    }
    .perosnal_line {
        margin-bottom: 19px;
        max-width: 687px;
        width: 100%;
        height: 0;
        border: 1px solid #1c2733;
    }
    .mobile_persoanl_area_link {
        font-family: Inter, sans-serif;
        line-height: 18px;
        color: #dadada;
    }
    .mobile_persoanl_area_link:hover {
        color: #e5d6a0;
    }
    .mobile_personal_area_list_btn {
        font-family: Inter, sans-serif;
        line-height: 18px;
        color: #dadada;
        outline: 0;
        border: none;
        background: 0 0;
    }
    .mobile_personal_area_list_btn:hover {
        color: #e5d6a0;
    }
}
@media (min-width: 1198px) and (max-width: 1267px) {
    .first_personal_link {
        margin-right: 12px !important;
    }
    .personal_area_password_status_link {
        width: 165px !important;
    }
}
@media (min-width: 1021px) and (max-width: 1197px) {
    .first_personal_link {
        margin-right: unset !important;
        margin-bottom: 5px;
    }
    .personal_area_change_password_status_links_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media (min-width: 1021px) and (max-width: 1030px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: 20px !important;
    }
}
@media (min-width: 1031px) and (max-width: 1285px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: 40px !important;
    }
}
@media (min-width: 821px) and (max-width: 1020px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 35px !important;
    }
    .personal_area_password_status_link {
        width: 213px !important;
    }
    .personal_area_img_link {
        width: 254px !important;
        padding: 19px 0 !important;
    }
}
@media (min-width: 756px) and (max-width: 820px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right:30px !important;
    }
    .personal_area_password_status_link {
        width: 213px !important;
    }
    .personal_area_img_link {
        width: 213px !important;
        padding: 19px 0 !important;
    }
    .personal_area_img1 img {
        width: 38px !important;
    }
}
@media (min-width: 687px) and (max-width: 755px) {
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 30px !important;
    }
    .personal_area_password_status_link {
        width: 180px !important;
    }
    .personal_area_img_link {
        width: 213px !important;
        padding: 19px 0 !important;
    }
    .personal_area_img1 img {
        width: 38px !important;
    }
    .personal_area_img3 {
        position: relative;
        left: 66%;
        bottom: 17px;
        width: 38px;
    }
}
@media (max-width: 686px) {
    .perosnal_area_phone_passport_info_details_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: unset !important;
        align-items: unset !important;
    }
    .perosnal_area_phone_mail_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_change_password_status_links_wrapper {
        display: none !important;
    }
    .perosnal_area_phone_passport_info_details_wrapper {
        margin-bottom: 40px;
    }
    .personal_area_name_info_wrapper {
        margin-right: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: 50px !important;
    }
    .personal_area_password_status_link {
        width: 180px !important;
    }
    .personal_area_img_link {
        width: 213px !important;
        padding: 19px 0 !important;
    }
    .personal_area_img1 img {
        width: 38px !important;
    }
    .personal_area_img3 {
        display: block !important;
        position: relative;
        left: 66%;
        bottom: 17px;
        width: 38px;
    }
    .personal_area_images_wrapper {
        margin-bottom: 5px !important;
    }
    .first_personal_link {
        margin-right: unset !important;
        margin-bottom: 15px;
    }
}
@media (min-width: 501px) and (max-width: 730px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 32px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 30px !important;
    }
}
@media (min-width: 426px) and (max-width: 500px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 28px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 26px !important;
    }
}
@media (min-width: 361px) and (max-width: 425px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 26px !important;
        margin-bottom: 24px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 24px !important;
        margin-bottom: 24px !important;
    }
}
@media (min-width: 454px) and (max-width: 686px) {
    .personal_area_img1 {
        position: relative;
        left: 22%;
        top: 19px;
    }
    .personal_area_img3 {
        left: 74% !important;
        bottom: 17px !important;
    }
}
@media (min-width: 394px) and (max-width: 453px) {
    .personal_area_img1 {
        position: relative;
        left: 13% !important;
        top: 20px;
    }
    .personal_area_img3 {
        left: 80% !important;
        bottom: 17px !important;
    }
}
@media (min-width: 361px) and (max-width: 393px) {
    .personal_area_img1 {
        position: relative;
        left: 8% !important;
        top: 20px;
    }
    .personal_area_img3 {
        left: 83% !important;
        bottom: 17px !important;
    }
}
@media (max-width: 360px) {
    .personal_are_title,
    .personal_name_surname {
        font-size: 24px !important;
        margin-bottom: 24px !important;
    }
    .personal_name_surname {
        line-height: unset !important;
    }
    .perosonal_area_investor {
        font-size: 20px !important;
        margin-bottom: 24px !important;
    }
    .personal_area_img1 {
        position: relative;
        left: 19% !important;
        top: 13px !important;
    }
    .personal_area_img1 img,
    .personal_area_img3 img {
        width: 24px !important;
    }
    .personal_area_img3 {
        left: 74% !important;
        bottom: 11px !important;
    }
}
@media (max-width: 700px) {
    .persoanl_area_image_info_btns_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .write_us_input {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .personal_area_image_link_wrapper {
        margin-right: unset !important;
        width: 100%;
    }
    .personal_area_img2 {
        position: unset !important;
        margin: 0 auto;
    }
    .personal_area_form_btns_wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: center !important;
    }
    .personal_area_img_link {
        width: 100% !important;
        margin-bottom: 24px;
    }
    .mobile_personal_area_change_password_status_links_wrapper {
        -ms-flex-direction: unset !important;
        flex-direction: unset !important;
    }
    .first_personal_link {
        margin-bottom: unset !important;
        margin-right: 20px !important;
    }
}
@media (min-width: 351px) and (max-width: 425px) {
    .personal_area_password_status_link {
        width: 148px !important;
        font-size: 14px !important;
    }
    .first_personal_link {
        margin-right: 12px !important;
    }
}
@media (max-width: 350px) {
    .mobile_personal_area_change_password_status_links_wrapper {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .first_personal_link {
        margin-right: unset !important;
        margin-bottom: 10px !important;
    }
    .personal_area_password_status_link {
        width: 100% !important;
        font-size: 14px !important;
    }
}
.second_box {
    background: #0d151e;
    border: 1px solid #e5d6a0;
}
@media (min-width: 426px) and (max-width: 768px) {
    .personal_area {
        min-height: unset !important;
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/log_in_second_img.png) !important;
    }
}
@media (max-width: 425px) {
    .personal_mobile_nav_list_wrapper {
        padding: 24px 24px 100px !important;
    }
    .personal_area_form_items_wrapper {
        margin-bottom: 40px !important;
    }
    .write_us_form_inputs_field {
        width: 220px !important;
    }
    .first_area_btn {
        margin-right: 16px !important;
    }
    .personal_area {
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/mobile_confirm.png) !important;
        min-height: unset !important;
    }
}
@media (min-width: 901px) and (max-width: 1250px) {
    .personal_area_image_link_wrapper {
        margin-right: 30px !important;
    }
}
@media (min-width: 901px) and (max-width: 2000px) {
    .special_input {
        max-width: 333px !important;
        -ms-flex: 1;
        flex: 1;
    }
}
@media (min-width: 687px) and (max-width: 900px) {
    .persons_area_input,
    .special_input {
        max-width: unset !important;
    }
    .personal_area_form_inputs_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_form_input_type_file,
    .personal_area_form_inputs_wrapper,
    .personal_area_form_wrapper {
        width: 100% !important;
    }
    .write_us_form_inputs_field {
        margin: 0 auto;
    }
    .write_us_input svg {
        margin-right: 20px !important;
    }
}
@media (max-width: 686px) {
    .persons_area_input,
    .special_input {
        max-width: unset !important;
    }
    .personal_area_image_link_wrapper {
        margin-right: unset !important;
        margin-bottom: 30px;
    }
    .personal_area_form_inputs_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .personal_area_form_input:not(:last-child) {
        width: 100% !important;
        margin-right: unset !important;
    }
    .personal_area_form_input_type_file,
    .personal_area_form_inputs_wrapper,
    .personal_area_form_wrapper {
        width: 100% !important;
    }
    .write_us_form_inputs_field {
        margin: 0 auto;
    }
    .write_us_input svg {
        margin-right: 20px !important;
    }
    .persoanl_area_image_info_btns_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media (max-width: 900px) {
    .personal_area_img2 {
        position: unset !important;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .personal_area {
        min-height: unset !important;
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/log_in_second_img.png) !important;
        padding-bottom: 80px !important;
    }
}
@media (max-width: 425px) {
    .personal_area {
        background-image: linear-gradient(180deg, rgba(13, 21, 30, 0), #0d151e), url(../images/mobile_confirm.png) !important;
        min-height: unset !important;
        padding-bottom: 80px !important;
        padding-top: 40px !important;
    }
    .write_us_form_inputs_field {
        margin: 0 auto;
    }
    .personal_area_form_inputs_wrapper {
        margin-bottom: 21px !important;
    }
    .personal_area_images_wrapper {
        margin-bottom: 24px !important;
    }
}
@media (min-width: 426px) and (max-width: 686px) {
    .personal_area_form_inputs_wrapper {
        margin-bottom: 40px !important;
    }
    .personal_area_img2,
    .personal_area_img2 img {
        width: 250px !important;
    }
    .personal_area_images_wrapper {
        margin-bottom: 10px !important;
    }
}
@media (min-width: 361px) and (max-width: 425px) {
    .personal_area_img2,
    .personal_area_img2 img {
        width: 200px !important;
    }
}
@media (max-width: 360px) {
    .personal_area_img2,
    .personal_area_img2 img {
        width: 150px !important;
    }
}
.personal_area_form_items_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 94px;
}
.personal_area_img3 {
    position: relative;
    left: 87%;
    bottom: 17px;
    width: 38px;
}
.hidden_div_second {
    display: none;
}
@media (max-width: 1000px) {
    .personal_area_form_items_wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .first_item_area {
        margin-right: unset !important;
    }
    /*.area_form_input,*/
    /*.form_select {*/
    /*    max-width: unset !important;*/
    /*}*/
    .personal_area_form_input_type_file {
        max-width: 390px !important;
        width: 100%;
    }
    .hidden_div_second {
        display: block !important;
    }
    .mobile_area_div {
        display: none !important;
    }
    .personal_area_form_textarea textarea {
        max-width: unset !important;
    }
}
#textarea_second {
    max-width: 399px;
    height: 120px;
}
.aplication_form_inputs_field{
  position: relative;
}
.personal_area_img1{
    display: inline-block;
}

@media(max-width:894px){
    .write_us_form_inputs_field {
        width: 240px!important;
    }

}
div.error_text_input{

    color: #c34d4d;
    display: block;
    position: relative;
    top: -21px;
    font-family: Inter, sans-serif;
    font-style: normal;
}


.photo_view1 {
    max-width: 74px;
    width: 100%;
    padding: 2px 0;
    height: auto;
    position: relative;
    max-width: 74px;
    min-width: 74px;

}
.photo_view12{
  max-width: 398px;
  width: 100%;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}
.galerycontswiper .swiper-slide{
  max-width: 74px;
  min-width: 74px;
  margin-right: 7px
}
.galerycontswiper{
  max-width: 398px;
  margin: 0!important;
}
.galerycont{
  max-width: 897px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}
.aplication_form_btn_wrapper{
  margin-top: 40px;
}
.photo_view1 img{
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.delete{
  width: auto;
  height: auto;
  margin: 0
}


@media  (min-width: 846px) and (max-width: 893px){
    .photo_view1{
        margin-left: 122px!important;
    }
}

@media  (min-width: 801px) and  (max-width: 845px){
    .photo_view1{
        margin-left: 100px!important;
    }
}

@media (min-width: 753px) and  (max-width: 800px){
    .photo_view1{
        margin-left: 60px!important;
    }
}

@media  (min-width: 721px) and  (max-width: 752px){
    .photo_view1{
        margin-left: 27px!important;
    }
}
@media  (min-width: 701px) and  (max-width: 720px){
    .photo_view1{
        margin-left: 0px!important;
    }
}

@media  (max-width: 700px){
    .photo_view1{
        margin-left: unset!important;
    }
}

@media  (min-width: 429px) and (max-width: 489px){
    .photo_view1 img{
        width: 185px!important;
        height: 185px!important;
    }
}

@media   (min-width: 354px) and (max-width: 428px){
    .photo_view1 img{
        width: 150px!important;
        height: 150px!important;
    }
}

@media   (max-width: 353px){
    .photo_view1 img{
        width: 129px!important;
        height: 129px!important;
    }
}
