a, button, input {
    outline: 0
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

body {
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
    position: relative
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

ul li {
    list-style: none
}

.big_Container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
}

.product_single {
    padding: 32px 0 200px;
    background: #0d151e
}

.product_single .product_single_cont {
    width: 100%
}

.product_single .product_single_cont .product_single_cont_box {
    width: 100%;
    padding: 0 16px 40px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_img {
    max-width: 503px;
    width: 100%;
    margin-right: 24px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_img img {
    width: 100%
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text {
    max-width: 713px;
    width: 100%;
    position: relative
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status {
    max-width: 114px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status svg {
    margin-right: 6px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status .status_stars {
    max-width: 90px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #f0f0f0;
    margin-bottom: 16px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price {
    width: 100%;
    margin-bottom: 24px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price span {
    margin-bottom: 4px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #a5aab7
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price p {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #e5d6a0
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item svg {
    margin-right: 4px
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -.01em;
    color: #f0f0f0
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .number {
    margin-top: 32px;
    margin-bottom: 16px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #d2be8b
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a {
    max-width: 345px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    background: #d2be8b;
    border: 1px solid #d2be8b;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1f2326;
    transition: all .5s;
    cursor: pointer
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a:last-child {
    margin-left: 16px;
    background: 0 0;
    color: #d2be8b
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a:last-child:hover {
    background: #d2be8b;
    color: #1f2326
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a:first-child:hover {
    background: 0 0;
    color: #d2be8b
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_bottom {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto
}

.product_single .product_single_cont .product_single_cont_box .product_single_cont_box_bottom p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.006em;
    color: #f0f0f0
}

.product_single .product_single_cont .product_single_cont_info {
    width: 100%
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title {
    width: 100%;
    padding: 12px 16px;
    background: #1f262e
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex img {
    margin-right: 8px
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f0f0f0
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex {
    width: 100%;
    padding: 24px 16px 8px
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item {
    width: 25%;
    margin-bottom: 32px
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.006em;
    color: #848993;
    margin-bottom: 8px
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item a, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.006em;
    color: #f0f0f0
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth {
    width: 100%
}

.product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth a, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth p {
    max-width: 600px
}

.product_single .product_single_cont .editbtn {
    max-width: 292px;
    width: 100%;
    height: 50px;
    margin: 112px auto 0;
    background: 0 0;
    color: #d2be8b;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d2be8b;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: all .5s;
    cursor: pointer
}

.product_single .product_single_cont .editbtn:hover {
    background: #d2be8b;
    color: #1f2326
}

@media (max-width: 1060px) {
    .product_single {
        padding: 32px 0 200px
    }

    .product_single .product_single_cont .product_single_cont_box {
        padding: 0 16px 40px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top {
        max-width: 1240px;
        margin: 0 auto;
        padding-bottom: 114px;
        position: relative
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_img {
        max-width: 503px;
        margin-right: 24px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text {
        max-width: 713px;
        position: unset
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status {
        max-width: 114px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status svg {
        margin-right: 6px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status .status_stars {
        max-width: 90px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text h1 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price {
        margin-bottom: 24px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price span {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 18px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price p {
        font-size: 36px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item {
        margin-bottom: 8px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item svg {
        margin-right: 4px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item p {
        font-size: 16px;
        line-height: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .number {
        margin-top: 32px;
        font-size: 28px;
        line-height: 34px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a {
        max-width: 345px;
        height: 50px;
        font-size: 16px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_bottom, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex {
        max-width: 1240px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a:last-child {
        margin-left: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_bottom p {
        font-size: 16px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title {
        padding: 12px 16px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex img {
        margin-right: 8px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex h4 {
        font-size: 20px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex {
        padding: 24px 16px 8px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item {
        width: 49%;
        margin-bottom: 32px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item a, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item p {
        font-size: 16px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth {
        width: 100%
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth a, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth p {
        max-width: 600px
    }

    .product_single .product_single_cont .editbtn {
        max-width: 292px;
        height: 50px;
        margin: 112px auto 0;
        font-size: 16px;
        line-height: 24px
    }
}

@media (max-width: 680px) {
    .product_single {
        padding: 32px 0 200px
    }

    .product_single .product_single_cont .product_single_cont_box {
        padding: 0 16px 40px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top {
        max-width: 1240px;
        margin: 0 auto;
        padding-bottom: 40px;
        position: relative;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_img {
        max-width: unset;
        margin-right: 0;
        margin-bottom: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text {
        max-width: 713px;
        position: unset
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status {
        max-width: 114px;
        position: unset;
        margin-bottom: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status svg {
        margin-right: 6px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .status .status_stars {
        max-width: 90px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text h1 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price {
        margin-bottom: 24px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price span {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 18px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .price p {
        font-size: 36px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item {
        margin-bottom: 8px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item svg {
        margin-right: 4px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .info_item p {
        font-size: 16px;
        line-height: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .number {
        margin-top: 32px;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        display: block;
        width: 100%
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex {
        position: unset;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a {
        max-width: unset;
        height: 50px;
        font-size: 16px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_bottom, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex {
        max-width: 1240px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_top .product_single_cont_box_top_text .product_single_cont_box_top_text_flex a:last-child {
        margin-left: 0;
        margin-top: 16px
    }

    .product_single .product_single_cont .product_single_cont_box .product_single_cont_box_bottom p {
        font-size: 16px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title {
        padding: 12px 16px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex img {
        margin-right: 8px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_title .product_single_cont_info_title_flex h4 {
        font-size: 20px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex {
        padding: 24px 16px 8px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item {
        width: 100%;
        margin-bottom: 32px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item a, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .product_single_cont_info_flex_item p {
        font-size: 16px;
        line-height: 24px
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth {
        width: 100%
    }

    .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth a, .product_single .product_single_cont .product_single_cont_info .product_single_cont_info_flex .product_single_cont_info_flex_box .fullwidth p {
        max-width: 600px
    }

    .product_single .product_single_cont .editbtn {
        max-width: 292px;
        height: 50px;
        margin: 112px auto 0;
        font-size: 16px;
        line-height: 24px
    }
}
