.header_second_wrapper,
.news .news_links_wrapper {
    display: -ms-flexbox;
}
.news .news_link_title,
.second_nav_link {
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
}
.header_second_nav_list,
.second_nav_ul_list {
    max-width: 500px;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: absolute;
    z-index: 1;
}
.second_nav_ul_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 274px;
}
.second_nav_link {
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #9b8e6c;
    cursor: pointer;
    padding-bottom: 16px;
}
.news .news_link_title,
.news .news_title {
    font-family: Inter, sans-serif;
    font-weight: 700;
}
.second_nav_link:hover {
    color: #e5d6a0;
    border-bottom: 1px solid #e5d6a0;
}
.header_second_wrapper {
    padding: 16px 0;
    background: #000;
    opacity: 0.7;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.news,
.news_details {
    background-repeat: no-repeat;
    background-color: #0d151e;
    position: relative;
}
@media (min-width: 967px) and (max-width: 1065px) {
    .second_nav_ul_list {
        margin-left: 220px !important;
    }
}
@media (min-width: 887px) and (max-width: 966px) {
    .second_nav_ul_list {
        margin-left: 180px !important;
    }
}
@media (min-width: 793px) and (max-width: 886px) {
    .second_nav_ul_list {
        margin-left: 130px !important;
    }
}
@media (max-width: 792px) {
    .second_nav_ul_list {
        margin-left: unset !important;
    }
    .header_second_nav_list {
        margin: 0 auto;
    }
}
@media (max-width: 520px) {
    .header_second_nav_list {
        width: 93% !important;
    }
}
.news {
    width: 100%;
    background-image: url(../images/compnies_back.png);
    padding-top: 68px;
    padding-bottom: 80px;
    background-position: 50%;
    background-size: cover;
    min-height: 968px;
}
.news .news_wrapper {
    max-width: 1237px;
    width: 100%;
    margin: 0 auto;
}
.news .hidden_news_link_info {
    display: none;
}
.news .news_title {
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.022em;
    color: #dadada;
    margin-bottom: 24px;
}
.news .news_links_wrapper {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    border-left: 1px solid #E5D6A0;
    border-right: 1px solid #E5D6A0;
}
.news .news_links_wrapper {
    justify-content: center;
    width: 100%;
}
.news_link{
    width: 100%;
}
.news .news_link {
    max-width: 292px;
    height: 300px;
    margin-bottom: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #1f262e70;
    box-shadow: 10px 10px 20px #000;
    padding: 0 16px 22px;
    margin-right: 14px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #1f262e;
    position: relative;
    z-index: 9;

}
.news .news_link.active,
.news .news_link:hover {
    border: 1px solid #e5d6a0;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.news .news_link.active .news_link_img_wrapper,
.news .news_link:hover .news_link_img_wrapper {
    top: -16px;
}
.news .news_link:hover .special_img {
    top: -35px;
}
.news .news_link_title {
    line-height: 16px;
    color: #e5d6a0;
    margin-bottom: 8px;
}
.news .by_relevance_title,
.news .news_link_info {
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.news .news_link_info {
    line-height: 17px;
    color: #c4c4c4;
    text-decoration: none;
}
.news .news_link_img {
    max-width: 252px;
    width: 100%;
    height: 158px;
    margin-bottom: 18px;
}
.news .news_link_img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.news .special_img {
    max-width: 140px;
    width: 100%;
    height: 100px;
}
.news .special_img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.news .news_link_img_wrapper {
    position: relative;
    top: 0;
    transition: 0.5s;
}
.news .news_links_wrapper {
    height: 700px;
    overflow: auto;
}
.news .by_relevance_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 27px;
    margin-bottom: 15px;
    position: relative;
}
.news .by_relevance_hidden_wrapper {
    position: absolute;
    background: #dadada;
    padding: 30px 20px;
    border-radius: 5px;
    top: 35px;
    display: none;
    z-index: 1;
}
.news .by_relevance_hidden_wrapper.open {
    display: block !important;
}
.news .by_relevance_svg_title_wrapper,
.news_details .news_main_link {
    display: -ms-flexbox;
}
.news .by_relevance_svg_wrapper svg.active {
    transform: rotate(-180deg);
}
.news .by_relevance_svg_title_wrapper {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.news .by_relevance_title {
    line-height: 24px;
    letter-spacing: -0.006em;
    color: #dadada;
    margin-right: 10px;
}
.news .by_relevance_hidden_item {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    margin-bottom: 10px;
}
@media (min-width: 426px) and (max-width: 970px) {
    .news,
    .news_details {
        background-image: url(../images/middle_companies_top_img.png) !important;
    }
    .news {
        min-height: 744px !important;
    }
}
@media (min-width: 769px) and (max-width: 970px) {
    .news_details {
        min-height: 744px;
    }
}
@media (max-width: 425px) {
    .news_details {
        padding-bottom: 40px !important;
    }
    .news_details_info_title {
        font-size: 20px !important;
    }
    .news,
    .news_details {
        background-image: url(../images/companies_mobile_top_img.png) !important;
        min-height: 600px;
    }
    .news_details_info_text {
        font-size: 14px !important;
    }
}
@media (min-width: 426px) and (max-width: 500px) {
    .news_details_slider_title {
        font-size: 22px !important;
    }
}
@media (min-width: 361px) and (max-width: 425px) {
    .news_details_slider_title {
        font-size: 20px !important;
    }
}
@media (max-width: 360px) {
    .news_details_slider_title {
        font-size: 18px !important;
    }
}
.news_links_wrapper::-webkit-scrollbar {
    width: 2px;
}
.news_links_wrapper::-webkit-scrollbar-track {
    border-radius: 2px;
}
.news_links_wrapper::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #9b8e6c;
}
@media (max-width: 1265px) {
    .news_wrapper {
        width: 93% !important;
    }
}
@media (min-width: 1111px) and (max-width: 1265px) {
    .news_links_wrapper.second_variant .news_link {
        width: 23% !important;
    }
}
@media (min-width: 851px) and (max-width: 1110px) {
  .news_links_wrapper.second_variant .news_link {
        max-width: unset !important;
        width: 30% !important;
    }
}
@media (min-width: 651px) and (max-width: 850px) {
   .news_links_wrapper.second_variant .news_link {
        max-width: 213px !important;
        width: 30% !important;
        height: 220px !important;
    }
   .news_links_wrapper.second_variant .news_link_img {
        max-width: 182px !important;
        height: unset !important;
    }
    .special_img {
        padding-top: 24px;
        max-width: 100px !important;
        height: unset !important;
    }
    .news_link_info span {
        display: none !important;
    }
}
@media (min-width: 504px) and (max-width: 650px) {
    .news_links_wrapper.second_variant .news_link {
        max-width: unset !important;
        width: 47% !important;
        height: 250px !important;
    }
   .news_links_wrapper.second_variant .news_link_img {
        max-width: 182px !important;
        height: unset !important;
    }
    .special_img {
        padding-top: 24px;
        max-width: 100px !important;
        height: unset !important;
    }
    .news_link_info span {
        display: none !important;
    }
}
@media (min-width: 426px) and (max-width: 503px) {
   .news_links_wrapper.second_variant .news_link {
        max-width: 200px !important;
        width: 45% !important;
        height: 250px !important;
    }
  .news_links_wrapper.second_variant .news_link_img {
        max-width: 182px !important;
        height: unset !important;
    }
    .special_img {
        padding-top: 24px;
        max-width: 100px !important;
        height: unset !important;
    }
    .news_link_info span {
        display: none !important;
    }
}
@media (min-width: 371px) and (max-width: 425px) {
   .news_links_wrapper.second_variant .news_link {
        max-width: 200px !important;
        width: 45% !important;
        padding: 0 11px 12px !important;
        height: 200px !important;
    }
  .news_links_wrapper.second_variant .news_link_img {
        max-width: 182px !important;
        height: unset !important;
    }
    .special_img {
        padding-top: 24px;
        max-width: 80px !important;
        height: unset !important;
    }
    .news_link_info {
        display: none !important;
    }
    .hidden_news_link_info {
        display: block !important;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #c4c4c4;
        text-decoration: none;
    }
    .by_relevance_wrapper {
        -ms-flex-align: unset !important;
        align-items: unset !important;
        -ms-flex-pack: unset !important;
        justify-content: unset !important;
        padding-right: unset !important;
    }
}
@media (max-width: 370px) {
  .news_links_wrapper.second_variant .news_link {
        max-width: unset !important;
        width: 80% !important;
        padding: 0 11px 12px !important;
        height: 200px !important;
    }
   .news_links_wrapper.second_variant .news_link_img {
        max-width: 182px !important;
        height: unset !important;
    }
    .special_img {
        padding-top: 24px;
        max-width: 80px !important;
        height: unset !important;
    }
    .news_link_info {
        display: none !important;
    }
    .hidden_news_link_info {
        display: block !important;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #c4c4c4;
        text-decoration: none;
    }
    .by_relevance_wrapper {
        -ms-flex-align: unset !important;
        align-items: unset !important;
        -ms-flex-pack: unset !important;
        justify-content: unset !important;
        padding-right: unset !important;
    }
}
@media (max-width: 360px) {
    .news_link_title {
        font-size: 14px !important;
    }
    .hidden_news_link_info {
        font-size: 12px !important;
    }
}
@media (max-width: 451px) {
    .news {
        padding-top: 88px !important;
        padding-bottom: 90px !important;
    }
}
@media (min-width: 481px) and (max-width: 550px) {
    .news_title {
        font-size: 32px !important;
        margin-bottom: 40px !important;
    }
}
@media (min-width: 426px) and (max-width: 480px) {
    .news_title {
        font-size: 28px !important;
        margin-bottom: 30px !important;
    }
}
@media (min-width: 361px) and (max-width: 425px) {
    .news_title {
        font-size: 26px !important;
        line-height: unset !important;
        margin-bottom: 25px !important;
    }
}
@media (max-width: 360px) {
    .news_title {
        font-size: 24px !important;
        line-height: unset !important;
        margin-bottom: 15px !important;
    }
}
.news_details {
    width: 100%;
    background-image: url(../images/compnies_back.png);
    padding-top: 160px;
    padding-bottom: 80px;
    background-position: 50%;
    background-size: cover;
    min-height: 968px;
}
.news_details .news_details_wrapper {
    max-width: 1237px;
    width: 100%;
    margin: 0 auto;
}
.news_details .news_main_link {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    letter-spacing: -0.022em;
    color: #e5d6a0;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.news_details .news_main_link svg {
    margin-right: 16px;
}
.news_details .news_details_img_info_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 25px;
}
.news_details .news_details_img_wrapper {
    width: 187px;
    height: 187px;
}
.news_details .swiper-button-next,
.news_details .swiper-button-prev {
    background-position: 50% !important;
    width: 60px !important;
    height: 60px !important;
    background-repeat: no-repeat;
    top: 146px;
}
.news_details .news_details_info_title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #f0f0f0;
    margin-bottom: 16px;
}
.news_details .news_details_info_text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #c4c4c4;
}
.news_details .news_details_slider_title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-bottom: 24px;
}
.news_details .swiper-button-next:after,
.news_details .swiper-button-prev:after {
    display: none;
}
.news_details .swiper-button-prev {
    background-image: url(swiper_arrow1.svg);
    left: -6%;
}
.news_details .swiper-button-next {
    background-image: url(swiper_arrow2.svg);
    right: -3%;
}
.news_details .news_details_slider_item {
    max-width: 1110px;
    width: 100%;
    position: relative;
}
.news_details .slider_slide_img {
    width: 327px;
    height: 218px;
}
.news_details .slider_slide_img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width: 1436px) and (max-width: 3000px) {
    .news_details_slider_item {
        margin-left: 196px;
    }
}
@media (min-width: 1351px) and (max-width: 1435px) {
    .news_details_slider_item {
        margin-left: 150px !important;
    }
}
@media (min-width: 1291px) and (max-width: 1350px) {
    .news_details_slider_item {
        margin-left: 120px !important;
    }
}
@media (min-width: 1268px) and (max-width: 1290px) {
    .news_details_slider_item {
        margin-left: 80px !important;
    }
}
@media (max-width: 1267px) {
    .news_details_slider_item {
        margin: 0 auto;
    }
}
@media (max-width: 1270px) {
    .news_details_wrapper {
        width: 93% !important;
    }
}
@media (min-width: 1151px) and (max-width: 1200px) {
    .news_details_slider_item {
        max-width: 1070px !important;
    }
}
@media (min-width: 1111px) and (max-width: 1150px) {
    .news_details_slider_item {
        max-width: 1030px !important;
    }

}
@media (min-width: 915px) and (max-width: 1110px) {
    .slider_slide_img {
        width: 280px !important;
        height: 200px !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (max-width: 1057px) {
    .swiper-button-next {
        right: -2% !important;
    }
}
@media (max-width: 1037px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}
@media (min-width: 779px) and (max-width: 914px) {
    .slider_slide_img {
        width: 240px !important;
        height: 200px !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 656px) and (max-width: 778px) {
    .slider_slide_img {
        width: 200px !important;
        height: 150px !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 590px) and (max-width: 655px) {
    .slider_slide_img {
        width: 180px !important;
        height: 150px !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 551px) and (max-width: 589px) {
    .slider_slide_img {
        width: 160px !important;
        height: 150px !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 521px) and (max-width: 550px) {
    .slider_slide_img {
        width: 240px !important;
        height: unset !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 476px) and (max-width: 520px) {
    .slider_slide_img {
        width: 220px !important;
        height: unset !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 431px) and (max-width: 475px) {
    .slider_slide_img {
        width: 200px !important;
        height: unset !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 389px) and (max-width: 430px) {
    .slider_slide_img {
        width: 180px !important;
        height: unset !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (min-width: 346px) and (max-width: 388px) {
    .slider_slide_img {
        width: 160px !important;
        height: unset !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (max-width: 345px) {
    .slider_slide_img {
        width: 140px !important;
        height: unset !important;
    }
    .news_details_slider_item {
        max-width: 1030px !important;
    }
}
@media (max-width: 768px) {
    .news_details_info_text span {
        display: none !important;
    }
    .news_details {
        min-height: unset !important;
    }
}
@media (max-width: 550px) {
    .news_details_img_info_item {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .news_details_img_wrapper {
        margin: 0 auto 16px;
    }
}
@media (min-width: 551px) and (max-width: 3000px) {
    .news_details_img_wrapper {
        margin-right: 24px;
    }
}
@media (max-width: 451px) {
    .news_details {
        padding-top: 90px !important;
    }
}
@media (min-width: 351px) and (max-width: 550px) {
    .news_details_img_wrapper {
        width: 312px !important;
        height: unset !important;
    }
    .news_details_img_wrapper img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
@media (max-width: 350px) {
    .news_details_img_wrapper {
        width: 240px !important;
        height: unset !important;
    }
    .news_details_img_wrapper img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
.news .news_wrapper {
    padding-top: 15px;
}
.news .by_relevance_svg_title_wrapper,
.news .by_relevance_hidden_item {
    cursor: pointer;
}
.news {
    background-image: unset;
}
.news,
.news_details {
    background-color: unset;
}


.news_links_wrapper.first_variant .news_link{
    max-width: 1204px!important;
    margin-right: unset !important;
    padding: 20px!important;
    flex-direction: unset!important;
    height: unset !important;

}
.news_links_wrapper.first_variant .news_link_img {
       margin-bottom: unset!important;
       margin-right: 24px;
}


.news_links_wrapper.second_variant{
    padding-left: 8px;
}

.news_links_wrapper.second_variant .news_link_img{
    margin: 0 auto;
    margin-bottom: 18px;
}

.news_links_wrapper.first_variant{
    padding-left: 16px;
    padding-right: 16px;
}


.news_links_wrapper.second_variant .news_link{
   justify-content: center;
}


.news_links_wrapper.first_variant .news_link:hover .news_link_img_wrapper {
    top: -35px;
}



.hidden_news_link_num {
    display: flex;
    align-items: flex-end;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
    margin-top: 16px;
    justify-content: flex-end;
}

.news_link_info_second_prt{
    display: none;
}

.news_links_wrapper.first_variant .news_link_info_second_prt{
    display: block!important;
}

.news_links_wrapper{
    margin-bottom: 48px;
}



.system_news_title {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #DADADA;
    margin-bottom: 16px;
}

.system_news_item{
    background: #2A2B2F;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
   max-width: 292px;
   width: 100%;
   padding: 20px;
}

.system_news_item_svg_title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}


@media(max-width: 900px){
  .news_links_wrapper.first_variant .news_link{
    flex-direction: column!important;   
  }
  .news_links_wrapper.first_variant .news_link_img{
    margin: 0 0 16px!important
  }
}
.system_news_item_title {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #E5D6A0;
    margin-left: 8px;

}



.system_news_item_text {
      font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
    margin-bottom: 16px;
}

.system_news_item_text2 {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #808080;
    display: flex;
    justify-content: flex-end;
}

.more_system_news {
   font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #E5D6A0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    /* padding-left: 16px; */
    padding-right: 9px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

#system_news_slider {
    margin-bottom: 16px;
    position: relative;

}


.system_news_next::after, .system_news_prev::after {
    display: none;
}

.system_news_prev {
    background-image: url("../images/slider_b_next.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(132, 137, 147, 0.6);
    width: 40px !important;
    height: 40px !important;
    background-size: 10px 20px;
    position: absolute;
      left: -22px;
    top: 96px;

}

.system_news_next{
    background-image: url("../images/slider_b_prev.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(132, 137, 147, 0.6);
    width: 40px !important;
    height: 40px !important;
    background-size: 10px 20px;
    position: absolute;
    right: -14px;
    top: 96px;

}


.system_news_swiper_btns_wrapper {
    position: relative;
}

@media (min-width: 1265px) and (max-width:  1284px){
    .system_news_prev
    {
        left: -8px!important;
           top: 54px!important;
    }
   .system_news_next{
        right: 6px!important;
        top: 54px!important;
   }

}



@media (min-width: 1225px) and  (max-width: 1264px){
    .system_news_item {
    background: #2A2B2F;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 25%);
    max-width: 374px!important;
    width: 100%;
    padding: 20px;
}
}

@media (min-width: 1156px) and (max-width: 1224px){
    .system_news_item {
    background: #2A2B2F;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 25%);
    max-width: 350px!important;
    width: 100%;
    padding: 20px;
}
}
@media (min-width: 1057px) and  (max-width: 1155px){
    .system_news_item {
    background: #2A2B2F;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 25%);
    max-width: 320px!important;
    width: 100%;
    padding: 20px;
}
}


@media (min-width: 988px) and (max-width: 1056px){
    .system_news_item {
    background: #2A2B2F;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 25%);
    max-width: 300px!important;
    width: 100%;
    padding: 20px;
}
}

@media (min-width: 921px) and (max-width: 987px){
    .system_news_item {
    background: #2A2B2F;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 25%);
    max-width: 280px!important;
    width: 100%;
    padding: 20px;
}
}

.system_news_item_wrapper{
    display: none;
}


@media (max-width: 920px)
{
    .system_news_swiper_btns_wrapper{
        display: none!important;
    }
    .system_news_item_wrapper{
      display: block!important;
      overflow: auto;
      margin-bottom: 16px;
   }

   .system_news_item_second_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    overflow: auto;
}

}


.news_link_title_info_wrapper {
    flex: 1;
}
